.mm-tidbits {
  &__content {
    // Markdown
    code {
      background: var(--color-code);
      border-radius: 4px;
      font-family: var(--font-stack-mono);
      padding: 0 8px;
    }

    pre code {
      display: block;
      overflow: hidden;
      overflow-x: auto;
      padding: 16px;
    }

    iframe {
      aspect-ratio: 16 / 9;
      margin: 1em 0;
      width: 100%;
    }
  }

  &__tags {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 -1px 12px;
    padding: unset;

    li {
      background: var(--color-white-25);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      display: inline-block;
      font-family: var(--font-stack-mono);
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      margin: 0 1px;
      padding: 8px;
      white-space: nowrap;
    }

    &--filter {
      --spacing: 6px;

      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 calc(-1 * var(--spacing)) 12px;

      li {
        background: unset;
        font: unset;
        margin: var(--spacing);
        padding: unset;
      }

      .mm-button {
        border-radius: 50px;
        font-size: 14px;
        letter-spacing: 0;
        margin: unset;
        overflow: hidden;
        position: relative;
        text-transform: unset;

        span {
          align-items: center;
          background: var(--color-accent);
          color: var(--color-secondary);
          display: flex;
          height: 100%;
          justify-content: center;
          position: absolute;
          right: 0;
          top: 0;
          width: var(--base-unit);
        }

        &.active {
          background: var(--color-primary);
          border-color: var(--color-primary);
          color: var(--color-secondary);
        }
      }
    }
  }

  &__tidbit {
    border-top: 1px solid var(--color-secondary);
    padding-bottom: var(--main-padding-y);

    &:last-child {
      border-bottom: 1px solid var(--color-secondary);
    }
  }

  &__metadata {
    font-family: var(--font-stack-display);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.6em;
    text-transform: uppercase;
  }

  &__pagination {
    display: flex;
    flex-direction: column;

    @include ipad-landscape-up {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }

    .mm-button {
      display: none;
      margin: 1em 0 0;
      min-width: 120px;
      order: 2;

      @include ipad-landscape-up {
        display: inline-block;
        margin: unset;
        order: 0;
      }
    }
  }

  &__pagination-pages {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 1em -4px;

    @include ipad-landscape-up {
      margin: 1em 4px;
    }

    > a {
      align-items: center;
      border-bottom: 1px dotted;
      color: var(--color-accent);
      display: flex;
      height: 40px;
      justify-content: center;
      margin: 0 4px;
      transition: color var(--fast-speed-ease);
      width: 40px;

      &:hover {
        border-bottom: 1px solid;
      }
    }

    a.active {
      border-bottom: 1px solid var(--color-white-25);
      color: var(--color-white-25);
      pointer-events: none;
    }
  }

  &__count {
    font-family: var(--font-stack-display);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.6em;
    text-align: right;
    text-transform: uppercase;
  }
}
