.mm-tidbits {
  &__content {
    // Markdown
    code {
      background: rgba(0, 0, 0, .25);
      border-radius: 4px;
      font-family: var(--font-stack-mono);
      padding: 0 8px;
    }

    pre code {
      display: block;
      overflow: hidden;
      overflow-x: auto;
      padding: 16px;
    }
  }

  &__tags {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 -1px 12px;
    padding: unset;

    li {
      background: rgba(255, 255, 255, .25);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      display: inline-block;
      font-family: var(--font-stack-mono);
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1;
      margin: 0 1px;
      padding: 8px;
      white-space: nowrap;
    }

    &--filter {
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 -4px 12px;

      li {
        background: unset;
        font: unset;
        margin: 4px;
        padding: unset;
      }

      .mm-button {
        border-radius: 50px;
        margin: unset;

        &.active {
          background: var(--color-primary);
          border-color: var(--color-primary);
          color: var(--color-secondary);
        }
      }
    }
  }

  &__tidbit {
    border-top: 1px solid var(--color-secondary);
    padding-bottom: var(--main-padding-y);

    &:last-child {
      border-bottom: 1px solid var(--color-secondary);
    }
  }

  &__metadata {
    font-family: var(--font-stack-display);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.6em;
    text-transform: uppercase;
  }

  &__pagination {
    span {
      white-space: nowrap;
    }
  }
}