.mm-about {
  .mm-header {
    margin: 0 var(--negate-main-padding-x);
  }

  &__profile-pic {
    display: none;

    @include ipad-portrait-up {
      display: block;
    }

    figure {
      background: var(--color-primary);
    }

    img {
      mix-blend-mode: exclusion;
    }
  }

  &__intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: unset;
    margin-top: unset;
    min-height: calc(100vh - (2 * var(--header-height)));
    position: relative;

    @include ipad-portrait-up {
      min-height: calc(100vh - (var(--header-height)));
    }

    .mm-page-title,
    .mm-page-subtext {
      width: 100%;
    }
  }

  &__tldr {
    margin-top: unset;
  }

  &__jump-links {
    width: 100%;

    hr {
      background: var(--color-primary);
      border: 0;
      display: none;
      height: 1px;
      margin-top: unset;

      @include tablet-up {
        display: block;
      }
    }

    ul {
      align-items: flex-end;
      display: flex;
      flex-wrap: wrap;
      font-family: var(--font-stack-display);
      font-weight: 500;
      letter-spacing: 1px;
      list-style: none;
      margin: unset;
      padding: unset;
      text-transform: uppercase;

      @include tablet-up {
        align-items: center;
        justify-content: flex-end;
        margin: unset;
      }

      li {
        margin: unset;
        max-width: 50%;
        min-width: 50%;
        padding: 2px;

        @include tablet-up {
          margin: 0 0 0 var(--base-unit);
          max-width: unset;
          min-width: unset;
          padding: unset;
        }
      }

      a {
        background: var(--color-background);
        color: var(--color-accent);
        display: block;
        padding: calc(var(--base-unit) / 2) var(--base-unit);
        transition: var(--default-speed-ease) color;

        @include tablet-up {
          background: unset;
          padding: unset;
        }

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
