:root {
  --default-speed-ease: .2s ease-in-out;
  --medium-speed-ease: .5s ease-in-out;
}

.mm-animate {
  opacity: 0;
  transform: translateY(var(--base-unit));
  transition: var(--medium-speed-ease) opacity, var(--medium-speed-ease) transform;

  &--in {
    opacity: 1;
    transform: translateY(0);
  }
}
