$breakpoint-tablet: 600px;
$breakpoint-ipad-portrait: 768px;
$breakpoint-ipad-landscape: 1024px;
$breakpoint-desktop: 1200px;

@mixin tablet-up {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin ipad-portrait-up {
  @media (min-width: #{$breakpoint-ipad-portrait}) {
    @content;
  }
}

@mixin ipad-landscape-up {
  @media (min-width: #{$breakpoint-ipad-landscape}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
