:root {
  // Main pallete
  --color-primary: #2E4340;
  --color-secondary: #fff9f2;

  // Accents
  --color-accent: #cd7f32;

  // Backgrounds
  --color-background: #fff;
}

[theme='dark'] {
  --color-primary: #fff9f2;
  --color-secondary: #2E4340;
  --color-accent: #cd7f32;
  --color-background: #1b2423;
}
