:root {
  // Main pallete
  --color-primary: #2e3743;
  --color-primary-shade: #000;
  --color-primary-90: rgba(46, 55, 67, .9);
  --color-secondary: #fff9f2;
  --color-font: var(--color-primary);

  // Accents
  --color-accent: #cd7f32;

  // Backgrounds
  --color-background: #fff;
}

[theme='dark'] {
  --color-secondary: #110900;
  --color-font: #fff9f2;
  --color-background: #000;
}
