:root {
  // Main pallete
  --color-slate-blue: #2e3743;
  --color-medium-slate-blue: #2a323d;
  --color-dark-slate-blue: #11171e;
  --color-off-white: #fff9f2;
  --color-bronze: #cd7f32;

  // Absolutes
  --color-white: #fff;
  --color-black: #000;
  --color-red: #a44444;
  --color-green: #008000;

  // Alphas
  --color-slate-blue-90: rgba(46, 55, 67, .9);
  --color-white-70: rgba(255, 255, 255, .7);
  --color-white-50: rgba(255, 255, 255, .5);
  --color-white-25: rgba(255, 255, 255, .25);
  --color-white-10: rgba(255, 255, 255, .1);
  --color-black-25: rgba(0, 0, 0, .25);
  --color-red-10: rgba(164, 68, 68, .1);
  --color-green-10: rgba(0, 128, 0, .1);

  // Named
  --color-primary: var(--color-slate-blue);
  --color-primary-shade: var(--color-dark-slate-blue);
  --color-secondary: var(--color-off-white);
  --color-secondary-reversed: var(--color-slate-blue);
  --color-accent: var(--color-bronze);
  --color-font: var(--color-slate-blue);
  --color-font-reversed: var(--color-off-white);
  --color-background: var(--color-white);
  --color-highlight: var(--color-white);
  --color-code: var(--color-black-25);
}

// Dark theme
[theme='dark'] {
  --color-primary: var(--color-off-white);
  --color-secondary: var(--color-slate-blue);
  --color-secondary-reversed: var(--color-dark-slate-blue);
  --color-font: var(--color-off-white);
  --color-background: var(--color-black);
  --color-highlight: var(--color-medium-slate-blue);
  --color-code: var(--color-white-10);
  --color-red: #dc9d9d;
  --color-green: #9bd59b;
}
