.mm-root {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.mm-main {
  flex: 1;
  padding: 0 var(--main-padding-x);
}

.mm-section {
  margin: var(--main-padding-y) auto;
  max-width: var(--section-max-width);

  &--full-bleed {
    background: var(--color-secondary-reversed);
    color: var(--color-font-reversed);
    margin: var(--main-padding-y) var(--negate-main-padding-x);
    max-width: unset;
    padding: var(--main-padding-y) var(--main-padding-x);
  }

  &__inner {
    margin: 0 auto;
    max-width: var(--section-max-width);
    width: 100%;
  }
}

.mm-page-title {
  margin: unset;

  span :not(.mm-tooltip__bubble) {
    white-space: nowrap;
  }
}

.mm-page-subtext {
  font-style: italic;
  margin-top: .5em;
}

.mm-highlight {
  background: var(--color-highlight);
  border-radius: 4px;
  display: inline-block;
  margin: 1px 0;
  padding: 0 8px;
  white-space: nowrap;
}

.mm-button {
  background: transparent;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  display: inline-block;
  font-family: var(--font-stack-display);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.6em;
  padding: 8px var(--base-unit);
  text-align: center;
  text-transform: uppercase;
  transition:
    var(--fast-speed-ease) background,
    var(--fast-speed-ease) border-color,
    var(--fast-speed-ease) color;

  &:hover {
    background: var(--color-accent);
    color: var(--color-secondary);
  }

  &--secondary {
    border-color: var(--color-white-10);
    color: var(--color-primary-reversed);

    &:hover {
      background: var(--color-white-10);
      color: var(--color-primary-reversed);
    }
  }

  &.disabled,
  &[disabled] {
    border-color: var(--color-white-25);
    color: var(--color-white-25);
    pointer-events: none;
  }
}

.hide {
  display: none;
}
