.mm-root {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.mm-main {
  flex: 1;
  padding: 0 var(--main-padding-x);
}

.mm-section {
  margin: var(--main-padding-y) auto;
  max-width: var(--section-max-width);

  &--full-bleed {
    background: var(--color-primary);
    color: var(--color-secondary);
    margin: var(--main-padding-y) var(--negate-main-padding-x);
    max-width: unset;
    padding: var(--main-padding-y) var(--main-padding-x);
  }

  &__inner {
    margin: 0 auto;
    max-width: var(--section-max-width);
    width: 100%;
  }
}

.mm-page-title {
  margin: unset;

  span :not(.mm-tooltip__bubble) {
    white-space: nowrap;
  }
}

.mm-page-subtext {
  font-style: italic;
}

.mm-highlight {
  background: var(--color-secondary);
  border-radius: 2px;
  display: inline-block;
  margin: 1px 0;
  padding: 0 8px;
  white-space: nowrap;
}
