html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--color-secondary);
  color: var(--color-primary);
  display: flex;
  font: 400 #{var(--default-font-size)}/1.6em var(--font-stack-body);
  font-variant-ligatures: normal;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  margin: unset;
  min-height: 100%;
  width: 100%;
}

a,
button,
select,
iframe,
input,
textarea,
[role='button'] {
  appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  color: inherit;
  margin: unset;
  padding: unset;
  text-decoration: none;

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

input,
textarea {
  background: var(--color-background);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  display: block;
  font: inherit;
  padding: 8px;
  width: 100%;
}

label {
  display: block;
  font: inherit;
  margin: 0 0 8px;
}

textarea {
  min-height: 150px;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-stack-display);
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin: 0 0 .5em;
}

h1 {
  font-size: 3em;
  line-height: 1.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 700;
}

p,
li {
  font-size: 1em;
  margin: 1em 0;
}

p > a {
  border-bottom: 1px dotted;
  color: var(--color-accent);

  &:hover {
    border-bottom: 1px solid;
  }
}

li {
  margin: .5em 0;
}

ul {
  list-style-position: outside;
  margin: 1em 0;
  padding-left: var(--base-unit);
}

img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
}

figure {
  margin: unset;
}

figcaption {
  margin-top: 8px;
  font-size: 14px;
  font-style: italic;
  line-height: 1.6em;
  text-align: initial;
}

hr {
  background: var(--color-background);
  border: 0;
  display: block;
  height: 1px;
  margin: 64px 0;
}
