.mm-tooltip {
  border-bottom: 2px dotted var(--color-primary);
  cursor: pointer;
  display: inline;
  position: relative;
  white-space: normal;

  @include tablet-up {
    white-space: nowrap;
  }

  &__bubble {
    [theme='dark'] & {
      --color-primary: var(--color-dark-slate-blue);
      --color-secondary: var(--color-off-white);
    }

    background: var(--color-primary);
    border-radius: 8px;
    bottom: calc(100% + 16px);
    color: var(--color-secondary);
    display: inline-block;
    font-family: var(--font-stack-body);
    font-size: 14px;
    font-style: italic;
    line-height: 1.6em;
    max-width: 200px;
    opacity: 0;
    padding: calc(var(--base-unit) / 2) var(--base-unit);
    pointer-events: none;
    position: absolute;
    right: 0;
    transition: var(--fast-speed-ease) opacity;
    white-space: normal;

    &::after {
      border: 6px solid var(--color-primary);
      border-bottom-color: transparent;
      border-right-color: transparent;
      content: '';
      left: 8px;
      position: absolute;
      top: 100%;
    }

    span {
      white-space: nowrap;
    }
  }

  &:hover {
    border-color: var(--color-accent);

    .mm-tooltip__bubble {
      opacity: 1;
      pointer-events: initial;
      z-index: 100;
    }
  }
}
