.hero {
  --max-width-hero-content: 900px;
  --max-width-hero-content-inner: 500px;

  background-color: var(--color-black);
  height: 100dvh;
  margin: 0 var(--negate-main-padding-x);
  overflow: hidden;

  &__video {
    aspect-ratio: 16 / 9;
    translate: -20% -20%;
    height: 70%;
    position: relative;

    @include landscape {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      translate: -20% 0;
      width: auto;
    }
  }

  &__content {
    background: var(--bg-color);
    bottom: 0;
    clip-path: polygon(0 35%, 100% 0%, 100% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: flex-end;
    right: 0;
    padding: 15% var(--main-padding-x) var(--main-padding-y);
    position: absolute;
    width: 100dvw;
    z-index: 1;

    &__content-inner {
      max-width: var(--max-width-hero-content-inner);
    }

    @include landscape {
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
      height: 100%;
      justify-content: center;
      max-width: var(--max-width-hero-content);
      padding-left: 15%;
      padding-top: var(--main-padding-x);
      width: 70%;
    }

    h1 {
      margin: unset;
    }
  }

  &__smooth-scroll-arrow {
    align-items: center;
    display: flex;

    a {
      animation: bounce 3s ease-in-out infinite;
      animation-delay: 5s;
      background: var(--color-brown-10);
      border-radius: 2px;
      display: inline-block;
      line-height: 0;

      &:hover svg {
        fill: var(--subtle-color);
      }
    }

    svg {
      fill: var(--body-color);
      transition: fill var(--fast-speed-ease);
      width: 48px;
    }
  }
}