.section {
  margin: 80px auto;
  max-width: var(--max-width-content);

  &--outline {
    @include ipad-landscape-up {
      border: 1px solid var(--color-brown-10);
      padding: var(--main-padding-y) var(--main-padding-x);
    }
  }

  &--fullbleed {
    background: var(--color-brown-10);
    border: 0;
    margin: 80px var(--negate-main-padding-x);
    max-width: unset;
    padding: var(--main-padding-y) var(--main-padding-x);
  }

  &__inner {
    margin: 0 auto;
    max-width: var(--max-width-content);
  }
}

.grid {
  display: grid;
  gap: var(--main-padding-x);
  grid-template-columns: 1fr;

  @include ipad-landscape-up {
    grid-template-columns: 1fr 1fr;
  }

  &--4cols {
    grid-template-columns: 1fr 1fr;

    @include mobile-only {
      grid-template-columns: 1fr;
    }

    @include ipad-landscape-up {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-bottom {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.fpo {
  aspect-ratio: 1 / 1;
  background: var(--color-black);
  color: var(--color-white);
}

.button {
  background: var(--subtle-color);
  border-radius: 2px;
  color: var(--display-color);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px;
  text-transform: uppercase;
  transition: color var(--fast-speed-ease);

  &:hover {
    color: var(--color-white);
  }

  &--icon {
    align-items: center;
    background: unset;
    border-radius: 0;
    display: flex;
    padding: unset;

    a {
      background: var(--color-brown-10);
      border-radius: 2px;
      display: inline-block;
      line-height: 0;

      &:hover svg {
        fill: var(--subtle-color);
      }
    }

    svg {
      fill: var(--body-color);
      transition: fill var(--fast-speed-ease);
      width: 48px;
    }
  }
}
