.location {
  &__accordion-panel {
    aspect-ratio: 1 / 1;
  }

  &__city {
    svg {
      display: none;
    }
  }

  @include ipad-landscape-up {
    &__accordion {
      display: flex;
      gap: 1px;
      min-height: 300px;
      max-height: 300px;
      transition: min-height var(--slow-speed-ease);

      &:hover {
        min-height: 500px;

        .location__overlay {
          backdrop-filter: blur(3px);
        }

        .location__city svg {
          display: none;
        }
      }
    }

    &__accordion-panel {
      background: no-repeat center var(--color-white);
      background-blend-mode: luminosity;
      background-size: cover;
      flex: 1;
      position: relative;
      transition: flex var(--slow-speed-ease), opacity var(--slow-speed-ease);

      &::after {
        background: hsl(0deg 0% 100% / 50%);
        content: '';
        height: 100%;
        position: absolute;
        transition: opacity var(--slow-speed-ease);
        width: 100%;
      }

      &:hover {
        background-blend-mode: unset;
        flex: 3;

        &::after {
          opacity: 0;
        }

        .location__overlay {
          display: none;
        }
      }
    }

    &__overlay {
      backdrop-filter: unset;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: backdrop-filter var(--slow-speed-ease);
      width: 100%;
    }

    &__content {
      background-color: hsl(0deg 0% 0% / 80%);
      color: var(--color-white);
      padding: 1em;
      position: relative;
      width: 100%;
      z-index: 1;
    }

    &__city {
      align-items: center;
      display: flex;
      justify-content: space-between;
      white-space: nowrap;

      svg {
        display: inline-block;
        fill: var(--subtle-color);
        width: 24px;
      }
    }

    &__address {
      white-space: nowrap;
    }
  }
}