.mm-work {
  &__showcase {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: var(--base-unit) 0;
    position: relative;

    @include tablet-up {
      margin: unset;
    }

    .mm-button {
      margin-top: var(--base-unit);
    }

    &:hover {
      .mm-work__info-panel {
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
        opacity: 1;
      }
    }
  }

  &__img-wrapper {
    width: 100%;
  }

  &__img-aspect-ratio {
    background-blend-mode: luminosity;
    background-color: var(--color-primary);
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    overflow: hidden;
    padding-bottom: calc((1 / 1) * 100%);
    position: relative;
    top: 0;
    width: 100%;
  }

  &__info-panel {
    backdrop-filter: blur(5px);
    background: var(--color-primary);
    background: rgba(46, 55, 67, .9);
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 0;
    opacity: 0;
    padding: calc(var(--base-unit) * 2) var(--base-unit);
    position: absolute;
    top: 0;
    transition:
      var(--default-speed-ease) clip-path,
      var(--default-speed-ease) opacity;
    width: 100%;

    &::after {
      border-bottom: 16px solid var(--color-primary);
      border-left: 16px solid var(--color-primary);
      border-right: 16px solid var(--color-background);
      border-top: 16px solid var(--color-background);
      box-shadow: -2px 1px 5px rgba(0, 0, 0, .35);
      top: 0;
      content: '';
      position: absolute;
      right: 0;
    }

    h3 {
      margin: unset;
    }

    h4 {
      font-weight: 500;
      margin: 4px 0 0;
    }
  }
}
