.mm-projects-layout {
  max-width: 1440px;

  &--grid {
    display: none;

    @include ipad-portrait-up {
      display: block;
    }
  }

  &--list {
    display: block;

    @include ipad-portrait-up {
      display: none;
    }
  }

  &__grid-item {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: var(--base-unit) 0;
    position: relative;

    @include tablet-up {
      margin: unset;
    }

    .mm-button {
      display: block;
      margin-top: 12px;
    }

    &:hover,
    &.active {
      .mm-projects-layout__info-panel {
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
        opacity: 1;
      }
    }
  }

  &__img-wrapper {
    display: block;
    width: 100%;

    .mm-projects-layout--list & {
      width: 35%;
    }
  }

  &__img-aspect-ratio {
    background-blend-mode: exclusion;
    background-color: var(--color-primary);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    left: 0;
    overflow: hidden;
    padding-bottom: calc((1 / 1) * 100%);
    position: relative;
    top: 0;
    width: 100%;

    .mm-projects-layout--list & {
      background-blend-mode: unset;
    }
  }

  &__info-panel {
    background: var(--color-primary-90);
    backdrop-filter: blur(5px);
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 0;
    opacity: 0;
    padding: calc(var(--base-unit) * 2) var(--base-unit);
    position: absolute;
    top: 0;
    transition:
      var(--fast-speed-ease) clip-path,
      var(--fast-speed-ease) opacity;
    width: 100%;

    [theme='dark'] & {
      color: var(--color-font);
    }

    &::after {
      border-bottom: 16px solid var(--color-primary-shade);
      border-left: 16px solid var(--color-primary-shade);
      border-right: 16px solid var(--color-secondary);
      border-top: 16px solid var(--color-secondary);
      top: 0;
      content: '';
      position: absolute;
      right: 0;

      [theme='dark'] & {
        border-bottom: 16px solid var(--color-accent);
        border-left: 16px solid var(--color-accent);
      }
    }

    h3 {
      margin: unset;
    }

    h4 {
      font-weight: 500;
      margin: 4px 0 0;
    }
  }

  &__list {
    list-style: none;
    margin: unset;
    padding: unset;
  }

  &__list-item {
    margin: unset;
  }

  &__list-link {
    align-items: center;
    border-top: 1px solid var(--color-primary);
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    width: 100%;

    .mm-projects-layout__list-item:nth-child(even) & {
      flex-direction: row-reverse;
    }
  }

  &__list-details {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
    line-height: 1.25em;
    padding: 0 16px;

    .mm-projects-layout__list-item:nth-child(even) & {
      flex-direction: row-reverse;
    }
  }

  &__list-label {
    display: block;
    font-weight: 700;

    .mm-projects-layout__list-item:nth-child(even) & {
      text-align: right;
    }
  }

  &__list-arrow {
    background: var(--color-accent);
    border-radius: 4px;
    display: block;
    line-height: 0;

    svg {
      fill: var(--color-background);
      width: 32px;
    }

    .mm-projects-layout__list-item:nth-child(even) & {
      transform: rotate(180deg);
    }
  }
}
