.mm-contact {
  @include ipad-landscape-up {
    display: flex;
    min-height: calc(100dvh - var(--header-height) - var(--footer-height));
  }

  .mm-section {
    margin-bottom: unset;

    @include ipad-landscape-up {
      margin-top: unset;
      max-width: 720px;
      padding-top: var(--main-padding-y);
      width: 50%;

      &--full-bleed {
        flex: 1;
        margin-left: unset;
        max-width: unset;
        width: unset;

        .mm-section__inner {
          margin: unset;
        }
      }
    }
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;

    @include ipad-landscape-up {
      flex-direction: row;
    }
  }

  &__message {
    p {
      margin-top: unset;
    }

    @include ipad-landscape-up {
      padding-right: 48px;

      p {
        margin-top: 1em;
      }
    }
  }

  &__submit-message {
    background: rgba(0, 128, 0, .1);
    border: 1px solid;
    color: rgb(0, 128, 0);
    margin: 1em 0;
    padding: var(--base-unit);

    &--error {
      background: rgba(164, 68, 68, .1);
      color: rgb(164, 68, 68);
    }
  }

  &__form {
    background: var(--color-primary);
    color: var(--color-secondary);
    width: 100%;

    @include ipad-landscape-up {
      flex: 1;
      max-width: 600px;
    }

    input,
    textarea {
      background: var(--color-white-10);
    }

    label {
      color: var(--color-secondary);

      [theme='dark'] & {
        color: var(--color-font);
      }
    }
  }

  &__form-field {
    margin-bottom: var(--base-unit);
  }

  &__submit {
    margin-top: 48px;
  }
}
