.mm-resume {
  h2,
  &__entry {
    margin-bottom: calc(var(--base-unit) * 2);
  }

  h3 {
    margin-bottom: 4px;
    position: relative;

    &::after {
      background: var(--color-secondary);
      content: '';
      height: 2px;
      position: absolute;
      left: 0;
      top: -8px;
      width: var(--base-unit);
    }

    span {
      font-weight: 500;
    }
  }

  h4 {
    margin-top: 2em;
    text-transform: uppercase;
  }

  &__dates {
    color: var(--color-accent);
    font-weight: 500;
    margin-top: 0;
  }
}
