.mm-theme-toggle {
  background: var(--color-primary);
  position: absolute;
  right: 0;
  top: 0;

  &:hover svg {
    fill: var(--color-black);
  }

  input[type='checkbox'] {
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: block;
    height: 48px;
    padding: unset;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
  }

  &__panels {
    align-items: center;
    display: flex;
    pointer-events: none;
    position: relative;
    z-index: 1;
  }

  &__panel {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: center;
    overflow: hidden;
    transition: width var(--fast-speed-ease);

    svg {
      height: 24px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity var(--fast-speed-ease), fill var(--fast-speed-ease);
      width: 24px;
    }

    &--light {
      background-color: var(--color-accent);
      border: 0;
      width: 48px;

      svg {
        fill: var(--color-off-white);
        opacity: 1;
      }

      .mm-theme-toggle--checked & {
        border: 0;
        width: 0;

        svg {
          opacity: 0;
        }
      }
    }

    &--dark {
      background-color: var(--color-off-white);
      width: 0;

      svg {
        fill: var(--color-accent);
        opacity: 0;
      }

      .mm-theme-toggle--checked & {
        width: 48px;

        svg {
          opacity: 1;
        }
      }
    }
  }
}
