.mm-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--font-stack-display);
  font-size: 14px;
  font-weight: 700;
  justify-content: space-between;
  left: 0;
  letter-spacing: 1px;
  position: sticky;
  top: 0;
  transition: transform var(--medium-speed-ease) .3s;
  z-index: 100;

  @include tablet-up {
    flex-direction: row;
    height: var(--header-height);
  }

  &--slide-away {
    transform: translateY(-100%);
  }

  &__branding {
    [theme='dark'] & {
      --color-primary: var(--color-dark-slate-blue);
    }

    align-items: center;
    background: var(--color-primary);
    color: var(--color-white);
    display: flex;
    flex: 1;
    flex-basis: var(--header-height);
    height: var(--header-height);
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    font-style: italic;
    width: 100%;

    span {
      background: var(--color-primary);
      padding: 0 calc(var(--base-unit) / 2);
      position: relative;
      z-index: 1;

      @include tablet-up {
        margin-left: calc(-1 * (var(--base-unit) / 2));
      }
    }

    @include tablet-up {
      border-bottom: 1px solid var(--color-secondary);
      height: 100%;
      padding: 0 var(--main-padding-x);
    }

    &::before {
      background: #fff;
      content: '';
      height: 1px;
      left: calc(var(--main-padding-x) / 2);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% - var(--main-padding-x));
    }
  }

  .mm-nav {
    align-items: center;
    background: var(--color-secondary);
    height: var(--header-height);
    padding: 0 4px;
    position: relative;
    width: 100%;

    @include tablet-up {
      align-items: flex-end;
      height: 100%;
      padding: unset;
      width: unset;
    }

    &__item {
      &:first-child {
        @include tablet-up {
          margin-left: var(--main-padding-x);
        }
      }

      &:last-child {
        @include tablet-up {
          margin-right: var(--main-padding-x);
        }
      }

      @include desktop-up {
        margin: 0 var(--base-unit);
      }
    }
  }
}

.mm-theme-toggle {
  background: var(--color-primary);
  position: absolute;
  right: 0;
  top: 0;

  &:hover svg {
    fill: var(--color-off-white);
  }

  input[type='checkbox'] {
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: block;
    height: 48px;
    padding: unset;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
  }

  &__panels {
    align-items: center;
    display: flex;
    pointer-events: none;
    position: relative;
    z-index: 1;
  }

  &__panel {
    align-items: center;
    background-color: var(--color-primary);
    display: flex;
    height: 48px;
    justify-content: center;
    overflow: hidden;
    transition: width var(--fast-speed-ease);

    svg {
      fill: var(--color-accent);
      height: 24px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity var(--fast-speed-ease), fill var(--fast-speed-ease);
      width: 24px;
    }

    &--light {
      border-right: 3px solid var(--color-accent);
      width: 48px;

      svg {
        opacity: 1;
      }

      .mm-theme-toggle--checked & {
        border: 0;
        width: 0;

        svg {
          opacity: 0;
        }
      }
    }

    &--dark {
      width: 0;

      svg {
        opacity: 0;
      }

      .mm-theme-toggle--checked & {
        border-left: 1px solid var(--color-accent);
        width: 48px;

        svg {
          opacity: 1;
        }
      }
    }
  }
}
