.mm-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--font-stack-raleway);
  font-size: 14px;
  font-weight: 700;
  left: 0;
  letter-spacing: 1px;
  position: sticky;
  text-transform: uppercase;
  top: 0;
  justify-content: space-between;

  @include tablet-up {
    flex-direction: row;
    height: var(--header-height);
  }

  &__branding {
    align-items: center;
    background: var(--color-dark-green);
    color: var(--color-white);
    display: flex;
    flex: 1;
    flex-basis: var(--header-height);
    justify-content: center;
    overflow: hidden;
    padding: 0 var(--main-padding-x);
    position: relative;
    width: 100%;

    @include tablet-up {
      justify-content: flex-start;
      height: 100%;
    }

    &::before {
      background: var(--color-white);
      bottom: 0;
      content: '';
      height: var(--default-font-size);
      left: 50%;
      position: absolute;
      transform: translate(-50%, 50%);
      width: var(--main-padding-x);

      @include tablet-up {
        bottom: auto;
        left: -4px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__nav {
    align-items: flex-end;
    backdrop-filter: blur(5px);
    display: flex;
    height: 100%;
    justify-content: center;
    padding: var(--base-unit) 0;
    width: 100%;

    @include tablet-up {
      padding: unset;
      width: unset;
    }
  }

  &__nav-item {
    display: inline-block;
    margin: 0 calc(var(--base-unit) / 2);
    position: relative;
    opacity: .7;
    transition: opacity var(--default-speed-ease);

    &::after {
      background: var(--color-dark-green);
      content: '';
      height: 2px;
      position: absolute;
      left: 0;
      top: -4px;
      transition: width var(--default-speed-ease);
      width: 0;
    }

    &:hover,
    &--active {
      color: var(--color-dark-green);
      opacity: 1;

      &::after {
        width: 25%;
      }
    }
  }
}
