.mm-footer {
  align-items: center;
  background: var(--color-dark-green);
  color: var(--color-light-green);
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
  letter-spacing: 1px;
  padding: var(--main-padding-x);

  &__nav,
  &__ancillary-links {
    color: var(--color-light-green);
    display: flex;
    font-family: var(--font-stack-raleway);
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--base-unit) / 2);
    text-transform: uppercase;
  }

  p {
    flex: 1;
    flex-basis: 100%;
    order: 3;

    @include desktop-up {
      flex-basis: unset;
      order: unset;
      text-align: center;
    }

    span {
      color: var(--color-white);
      font-style: italic;
    }
  }

  a {
    margin: 0 calc(var(--base-unit) / 2);
    position: relative;
    transition: color var(--default-speed-ease);

    svg {
      fill: var(--color-light-green);
      height: var(--default-font-size);
      transition: fill var(--default-speed-ease);
      width: var(--default-font-size);
    }

    &:hover {
      color: var(--color-white);

      svg {
        fill: var(--color-white);
      }
    }
  }

  &__ancillary-links {
    margin-left: unset;
    margin-right: calc(-1 * var(--base-unit) / 2);
    justify-content: flex-end;

    a {
      align-items: center;
      display: flex;
    }
  }

  &__nav-item {
    &::after {
      background: var(--color-white);
      content: '';
      height: 2px;
      position: absolute;
      left: 0;
      top: -4px;
      transition: width var(--default-speed-ease);
      width: 0;
    }

    &:hover,
    &--active {
      color: var(--color-white);

      &::after {
        width: 25%;
      }

      svg {
        fill: var(--color-white);
      }
    }
  }
}
