.mm-footer {
  align-items: center;
  background: var(--color-background);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  justify-content: space-between;
  letter-spacing: 1px;
  padding: var(--main-padding-x);

  @include tablet-up {
    flex-direction: row;
    justify-content: space-between;
  }

  .mm-nav,
  &__ancillary-links {
    display: flex;
    font-family: var(--font-stack-display);
    text-transform: uppercase;

    @include tablet-up {
      margin-left: calc(-1 * var(--base-unit) / 2);
    }

    &__item {
      &::after {
        background: var(--color-accent);
        content: '';
        height: 2px;
        position: absolute;
        left: 0;
        top: 0;
        transition: width var(--default-speed-ease);
        width: 0;
      }

      &.active {
        color: var(--color-accent);

        &::after {
          width: 25%;
        }

        svg {
          fill: var(--color-accent);
        }
      }
    }
  }

  a {
    margin: 0 calc(var(--base-unit) / 2);
    position: relative;
    transition: color var(--default-speed-ease);

    svg {
      fill: var(--color-primary);
      height: var(--base-unit);
      transition: fill var(--default-speed-ease);
      width: var(--base-unit);
    }

    &:hover {
      color: var(--color-accent);

      svg {
        fill: var(--color-accent);
      }
    }
  }

  &__ancillary-links {
    align-items: center;
    justify-content: center;

    @include tablet-up {
      justify-content: flex-end;
      margin-left: unset;
      margin-right: calc(-1 * var(--base-unit) / 2);
    }

    a {
      align-items: center;
      display: flex;
    }
  }
}
