.mm-footer {
  align-items: center;
  background: var(--color-background);
  color: var(--color-accent);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  justify-content: space-between;
  letter-spacing: 1px;
  padding: var(--main-padding-x);

  @include tablet-up {
    flex-direction: row;
    justify-content: space-between;
  }

  .mm-nav,
  &__ancillary-links {
    @include tablet-up {
      margin-left: calc(-1 * var(--base-unit) / 2);
    }
  }

  &__ancillary-links {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-family: var(--font-stack-display);
    margin-top: 12px;
    text-transform: uppercase;
    justify-content: center;

    @include tablet-up {
      justify-content: flex-end;
      margin-left: unset;
      margin-right: calc(-1 * var(--base-unit) / 2);
      margin-top: unset;
    }

    @include ipad-portrait-up {
      font-size: inherit;
    }

    a {
      align-items: center;
      display: flex;
      margin: 0 calc(var(--base-unit) / 2);
      position: relative;
      transition: color var(--default-speed-ease);

      svg {
        fill: var(--color-accent);
        height: var(--base-unit);
        transition: fill var(--default-speed-ease);
        width: var(--base-unit);
      }

      &:hover {
        color: var(--color-primary);

        svg {
          fill: var(--color-primary);
        }

        &::after {
          width: 25%;
        }
      }
    }
  }
}
