@import './resume';

.mm-about {
  &__jump-links {
    align-items: center;
    display: flex;
    font-family: var(--font-stack-raleway);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    list-style: none;
    margin-bottom: unset;
    margin-top: var(--base-unit);
    padding: unset;
    text-transform: uppercase;

    li {
      margin: 0 var(--base-unit) 0 0;
    }

    a {
      transition: var(--default-speed-ease) color;

      &:hover {
        color: var(--color-bronze);
      }
    }
  }
}
