body:has(.bakery-main) {
  --color-black: hsl(35deg 50% 0%);
  --color-dark-brown: hsl(35deg 50% 5%);
  --color-brown: hsl(35deg 50% 20%);
  --color-brown-10: hsl(35deg 50% 20% / 10%);
  --color-tan: hsl(35deg 50% 50%);
  --color-white: hsl(35deg 50% 100%);
  --bg-color: var(--color-white);
  --body-color: var(--color-brown);
  --display-color: var(--color-dark-brown);
  --subtle-color: var(--color-tan);
  --font-family: 'Poppins', arial, sans-serif;
  --font-size: 16px;
  --max-width-content: 1200px;

  @include ipad-portrait-up {
    --font-size: 18px;
  }

  background: var(--bg-color);
  color: var(--body-color);
  font: 400 #{var(--font-size)}/1.6em #{var(--font-family)};

  h1,
  h2,
  h3,
  h4 {
    letter-spacing: 0;
    margin: 1em 0;
  }

  p > a {
    border-bottom: 1px dotted var(--color-brown);
    border-radius: 2px;
    color: var(--body-color);
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: color var(--medium-speed-ease);

    &::after {
      background-color: var(--color-brown-10);
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      transition: width var(--fast-speed-ease);
      width: 0;
    }

    &:hover {
      border-color: transparent;
      color: var(--display-color);

      &::after {
        width: 100%;
      }
    }
  }

  @import './fonts';
  @import './animation';
  @import './layout';
  @import './hero';
  @import './header';
}
