.display {
  color: var(--display-color);
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 1.1em;

  &.h1 {
    font-size: 2.5em;

    @include ipad-portrait-up {
      font-size: 3em;
    }
  }

  &.h2 {
    font-size: 1.5em;

    @include ipad-portrait-up {
      font-size: 2.5em;
    }
  }

  &.h3 {
    font-size: 1.25em;

    @include ipad-portrait-up {
      font-size: 2em;
    }
  }
}

.subhead,
.eyebrow {
  color: var(--subtle-color);
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 1em 0 0;
  text-transform: uppercase;

  @include ipad-portrait-up {
    font-weight: 400;
  }
}

.eyebrow {
  margin: 0 0 1em;
}
