.display {
  color: var(--display-color);
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 1.1em;

  &.h1 {
    font-size: 2em;
  }

  &.h2 {
    font-size: 1.5em;
  }

  &.h3 {
    font-size: 1.25em;
  }

  &.h4 {
    font-size: 1em;
  }
}
