.header {
  backdrop-filter: blur(5px);
  background: var(--color-white-90);
  border-bottom: 1px solid var(--color-brown-10);
  border-top: 1px solid var(--color-brown-10);
  margin: 0 var(--negate-main-padding-x);
  padding: 1em 0 0;
  position: sticky;
  top: 0;
  transition: transform var(--medium-speed-ease) .3s;
  z-index: 100;

  @include ipad-portrait-up {
    padding: 0 var(--main-padding-x);
  }

  &--slide-away {
    transform: translateY(-100%);
  }

  &__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin: 0 auto;
    max-width: var(--max-width-content);

    @include ipad-portrait-up {
      flex-direction: row;
      height: var(--header-height);
      justify-content: space-between;
    }
  }

  &__branding {
    font-size: 1.25em;

    @include ipad-portrait-up {
      span {
        display: block;
      }
    }
  }

  &__nav {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    @include ipad-portrait-up {
      height: 100%;
      margin: 0 var(--negate-main-padding-x);
      max-width: 400px;
    }
  }

  &__nav-item {
    background: var(--color-brown-10);
    border-left: 1px dotted var(--subtle-color);
    border-right: 1px dotted var(--subtle-color);
    color: var(--body-color);
    flex: 1;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 8px;
    text-transform: uppercase;
    transition: color var(--fast-speed-ease);

    @include ipad-portrait-up {
      height: 100%;
    }

    &:first-child,
    &:last-child {
      border: 0;
    }

    &:hover {
      color: var(--subtle-color);
    }
  }
}
