.hero {
  background-color: var(--color-black);
  height: 100dvh;
  margin: 0 var(--negate-main-padding-x);
  overflow: hidden;

  .video {
    aspect-ratio: 16 / 9;
    translate: -20% -20%;
    height: 70%;
    position: relative;

    @include landscape {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      translate: -20% 0;
      width: auto;
    }
  }

  .content {
    background: var(--bg-color);
    bottom: 0;
    clip-path: polygon(0 35%, 100% 0%, 100% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: center;
    right: 0;
    padding: 15% var(--main-padding-x) var(--main-padding-x);
    position: absolute;
    width: 100dvw;
    z-index: 1;

    @include landscape {
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
      height: 100%;
      max-width: var(--max-width-content);
      padding-left: 15%;
      padding-top: var(--main-padding-x);
      width: 70%;
    }

    h1 {
      margin: unset;
    }
  }
}