<figure class="section__figure"
    aria-label="{{ partial.figure.alt }}">
  <div class="section__figure-aspect-ratio"
      style="background-image: url(/dist/img/{{ partial.figure.image }})">
  </div>
  {% if partial.figure.caption %}
    <figcaption class="section__figure-caption">
      {{ partial.figure.caption }}
    </figcaption>
  {% endif %}
</figure>
