<footer class="footer">
  <div class="footer__inner">
    <ul class="footer__list"
        role="menubar">
      <li class="footer__list-item"
          role="none">
        <a class="footer__link footer__link--active"
            href="/"
            role="menuitem">
          About
        </a>
      </li>
      <li class="footer__list-item"
          role="none">
        <a class="footer__link"
            href="work/"
            role="menuitem">
          Work
        </a>
      </li>
      <li class="footer__list-item"
          role="none">
        <a class="footer__link"
            href="contact/"
            role="menuitem">
          Contact
        </a>
      </li>
    </ul>
    <div class="footer__copyright">
      © 2018 Michael Misciagna
    </div>
  </div>
</footer>
