<footer class="footer">
  <div class="footer__inner">
    <ul class="footer__list"
        role="menubar">
      {% for item in nav|sort(attribute='order') %}
        <li class="footer__list-item"
            role="none">
          {% set isActive = item.label|lower == content.title|lower %}
          <a class="footer__link {% if isActive %}footer__link--active{% endif %}"
              href="{{ item.path }}"
              role="menuitem">
            {{ item.label|capitalize }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="footer__copyright">
      © 2018 Michael Misciagna
    </div>
  </div>
</footer>
