<section class="section">
  <form class="form js-form" novalidate>
    {% for field in partial.fields %}
      <div class="form__field">
        <label class="form__label" id="{{ field.label|lower }}">
          {{ field.label }} <sup>*</sup>
        </label>
        {% if field.type != "textarea" %}
          <input class="form__input js-form-input"
              type="{{ field.type }}"
              name="{{ field.label|lower }}"
              required>
        {% else %}
          <textarea class="form__input js-form-input"
              type="{{ field.type }}"
              name="{{ field.label|lower }}"
              required></textarea>
        {% endif %}
        <div class="form__error-msg js-form-error-msg hide">
          {{ field.error_msg }}
        </div>
      </div>
    {% endfor %}
    <div class="form__actions">
      {% for btn in partial.btns %}
        {% include "/partials/button.jinja" %}
      {% endfor %}
    </div>
  </form>
  <div class="form__sent js-form-sent hide">
    {{ partial.sent_msg }}
  </div>
</section>
