<h2 class="section__headline{% if not partial.headline.drop_cap %} section__headline--no-drop-cap{% endif %}">
  {% if partial.headline.drop_cap %}
    {{ macros.drop_cap(partial.headline.text) }}
  {% else %}
    {{ partial.headline.text }}
  {% endif %}
  {% if partial.subheadline %}
    <span class="section__subheadline">
      <strong>For:</strong> {{ partial.subheadline.for }}
      <span class="section__subheadline-spacer"></span>
      <strong>My Role:</strong> {{ partial.subheadline.role }}
    </span>
  {% endif %}
</h2>
