<aside class="mobile-nav js-mobile-nav"
    aria-hidden="true">
  <nav class="mobile-nav__menu"
      aria-label="Mobile navigation">
    <ul class="mobile-nav__list"
        role="menu"
        aria-label="Navigation menu">
      {% for item in nav|sort(attribute='order') %}
        <li class="mobile-nav__list-item"
            role="none">
          <a class="mobile-nav__link mobile-nav__link--{{ loop.index }} {% if item.label|lower == content.title|lower %}mobile-nav__link--active{% endif %}"
              href="{{ item.path }}"
              role="menuitem">
            {{ item.label|capitalize }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>
