<aside class="mobile-nav js-mobile-nav"
    aria-hidden="true">
  <nav class="mobile-nav__menu"
      aria-label="Mobile navigation">
    <ul class="mobile-nav__list"
        role="menu"
        aria-label="Navigation menu">
      <li class="mobile-nav__list-item"
          role="none">
        <a class="mobile-nav__link mobile-nav__link--1 mobile-nav__link--active"
            href="/"
            role="menuitem">
          About
        </a>
      </li>
      <li class="mobile-nav__list-item"
          role="none">
        <a class="mobile-nav__link mobile-nav__link--2"
            href="work/"
            role="menuitem">
          Work
        </a>
      </li>
      <li class="mobile-nav__list-item"
          role="none">
        <a class="mobile-nav__link mobile-nav__link--3"
            href="contact/"
            role="menuitem">
          Contact
        </a>
      </li>
    </ul>
  </nav>
</aside>
