<nav class="nav"
    aria-label="Navigation">
  <ul class="nav__list"
      role="menubar"
      aria-label="Navigation menubar">
    {% for item in nav|sort(attribute='order') %}
      <li class="nav__list-item"
          role="none">
        <a class="nav__link {% if item.label|lower == content.title|lower %}nav__link--active{% endif %}"
            href="{{ item.path }}"
            role="menuitem">
          {{ item.label|capitalize }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
