<nav class="nav"
    aria-label="Navigation">
  <ul class="nav__list"
      role="menubar"
      aria-label="Navigation menubar">
    {% for item in nav %}
      <li class="nav__list-item"
          role="none">
        <a class="nav__link {% if item.label == title %}nav__link--active{% endif %}"
            href="{{ item.path }}"
            role="menuitem">
          {{ item.label }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
