<section class="section">
  {% if partial.title %}
    {% include "/partials/title.jinja" %}
  {% endif %}

  <div class="row{% if partial.reverse %} row--reverse{% endif %}">
    {% if partial.figure %}
      <div class="row__item row__item--figure">
        {% include "/partials/figure.jinja" %}
      </div>
    {% endif %}

    {% if partial.paragraphs or partial.ctas %}
      <div class="row__item row__item--paragraphs">
        {% include "/partials/paragraphs.jinja" %}

        {% if partial.ctas %}
          <div class="section__ctas">
            {% for cta in partial.ctas %}
              <div class="section__cta">
                {% with btn = cta %}
                  {% include "/partials/button.jinja" %}
                {% endwith %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</section>
