<section class="section">
  {% if partial.headline %}
    {% include "/partials/headline.jinja" ignore missing %}
  {% endif %}

  {% if partial.title %}
    {% include "/partials/title.jinja" %}
  {% endif %}

  {% if partial.video %}
    {% include "/partials/video.jinja" %}
  {% endif %}

  {% if partial.figure %}
    {% include "/partials/figure.jinja" %}
  {% endif %}

  {% if partial.paragraphs %}
    {% include "/partials/paragraphs.jinja" %}
  {% endif %}

  {% if partial.list %}
    <ul class="section__list">
      {% for item in partial.list %}
        <li class="section__list-item">
          {{ item.text }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if partial.cta %}
    <div class="section__cta">
      {% with btn = partial.cta %}
        {% include "/partials/button.jinja" %}
      {% endwith %}
    </div>
  {% endif %}

  {% if partial.image %}
    {% include "/partials/image.jinja" %}
  {% endif %}
</section>
