<figure class="section__figure">
  <div class="section__figure-aspect-ratio">
    {% include "partials/loader.jinja" %}
    <div class="section__video" data-video="{{ partial.video }}"></div>
  </div>
</figure>
