.mm-nav {
  display: flex;
  font-family: var(--font-stack-display);
  text-transform: uppercase;

  &__item {
    color: var(--color-accent);
    display: inline-block;
    margin: 0 calc(var(--base-unit) / 2);
    position: relative;
    transition: color var(--default-speed-ease);

    &::after {
      background: var(--color-primary);
      content: '';
      height: 2px;
      position: absolute;
      left: 0;
      top: 0;
      transition: width var(--default-speed-ease);
      width: 0;
    }

    &:hover,
    &.active {
      color: var(--color-primary);

      &::after {
        width: 25%;
      }
    }
  }
}