.mm-nav {
  display: flex;
  font-family: var(--font-stack-display);
  text-transform: uppercase;

  &__item {
    color: var(--color-accent);
    display: inline-block;
    font-size: 12px;
    margin: 0 8px;
    position: relative;
    transition: color var(--fast-speed-ease);

    @include ipad-portrait-up {
      font-size: inherit;
      margin: 0 calc(var(--base-unit) / 2);
    }

    &::after {
      background: var(--color-primary);
      content: '';
      height: 2px;
      position: absolute;
      left: 0;
      top: 0;
      transition: width var(--fast-speed-ease);
      width: 0;
    }

    &:hover,
    &.active {
      color: var(--color-primary);

      &::after {
        width: 25%;
      }
    }
  }
}