.btn {
  @include transition(opacity);
  -webkit-appearance: none;
  background: $color-primary-dark;
  border: 0;
  border-radius: $buffer-1 / 2;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-stack-serif;
  font-size: $font-size-s;
  font-style: italic;
  font-weight: $font-weight-r;
  height: $buffer-4;
  line-height: $buffer-4;
  min-width: $buffer-1 * 13;
  padding: 0 $buffer-2;
  position: relative;
  text-align: center;
  white-space: nowrap;

  .material-icons {
    @include transition(transform);
    display: inline-block;
    font-size: $font-size;
    margin: 0 0 $buffer-1 / 2 $buffer-1;
    vertical-align: middle;
  }

  &:hover {
    opacity: .8;

    .material-icons {
      transform: translateX(2px);
    }
  }

  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }

  &--reverse {
    background: none;
    border: 1px solid $color-primary;
    color: $color-primary;
    transition: border-color .3s ease-out,
                color .3s ease-out;

    &:hover {
      border-color: $color-primary-dark;
      color: $color-primary-dark;
    }
  }
}
