.loader {
  @include cover();
  @include flex-center();
  background: transparent;

  &__spinner {
    height: $buffer-3 * 2;
    margin: $buffer-3 0;
    position: relative;
    width: $buffer-3 * 2;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    .circular {
      @include cover();
      animation: loader-rotate 2s linear infinite;
      bottom: 0;
      margin: auto;
      right: 0;
      transform-origin: center center;

      .path {
        animation: loader-dash 1.5s ease-in-out infinite, loader-color 6s ease-in-out infinite;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
      }
    }
  }
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes loader-color {
  0%,
  100% {
    stroke: $color-primary-dark;
  }

  40% {
    stroke: $color-primary-light;
  }

  66% {
    stroke: $color-primary;
  }

  80%,
  90% {
    stroke: $color-primary-dark;
  }
}
