.mm-showcase {
  &__title {
    font-size: 2.5em;
    font-weight: 700;
    margin: unset;
  }

  &__stack {
    align-items: flex-start;
    border-top: 1px solid var(--color-secondary);
    display: flex;
    justify-content: space-between;
    margin-bottom: unset;
    margin-top: 1em;
  }

  &__stack-title {
    display: flex;
    margin-bottom: unset;
    margin-top: unset;
  }

  &__stack-list {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: unset;
    margin-top: unset;

    @include tablet-up {
      flex-direction: row;
    }
  }

  &__stack-label {
    border-bottom: 1px solid var(--color-secondary);
    border-right: 1px solid var(--color-secondary);
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 0 8px;
    text-transform: uppercase;

    .mm-showcase__stack-title & {
      border-left: 1px solid var(--color-secondary);
      border-right: 0;
    }
  }

  &__video-bg {
    margin-top: unset;
    padding-left: unset;
    padding-right: unset;

    @include ipad-portrait-up {
      padding: var(--main-padding-y) var(--main-padding-x);
    }
  }

  &__video,
  &__video-placeholder {
    background: var(--color-primary-shade);
    padding-bottom: calc(100% * (9 / 16));
    position: relative;
    width: 100%;

    > :first-child,
    button {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__play-btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}