.mm-showcase {
  &__title {
    font-size: 2.5em;
    font-weight: 700;
    margin: unset;
  }

  &__stack {
    align-items: flex-start;
    border-top: 1px solid var(--color-secondary);
    display: flex;
    justify-content: space-between;
    margin-bottom: unset;
    margin-top: 1em;
  }

  &__stack-title {
    display: flex;
    margin-bottom: unset;
    margin-top: unset;
  }

  &__stack-list {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: unset;
    margin-top: unset;

    @include tablet-up {
      flex-direction: row;
    }
  }

  &__stack-label {
    border-bottom: 1px solid var(--color-secondary);
    border-right: 1px solid var(--color-secondary);
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 0 8px;
    text-transform: uppercase;

    .mm-showcase__stack-title & {
      border-left: 1px solid var(--color-secondary);
      border-right: 0;
    }
  }

  &__video-bg {
    margin-top: unset;
    padding-left: unset;
    padding-right: unset;

    @include ipad-portrait-up {
      padding: var(--main-padding-y) var(--main-padding-x);
    }
  }

  &__video,
  &__video-placeholder {
    background: var(--color-primary-shade);
    padding-bottom: calc(100% * (9 / 16));
    position: relative;
    width: 100%;

    > :first-child,
    button {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__play-btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: relative;
    transition: opacity var(--medium-speed-ease);

    &.active {
      opacity: 0;
      pointer-events: none;
    }

    &::before {
      backdrop-filter: blur(5px);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &::after {
      background: var(--color-accent);
      border-radius: 50px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
      color: var(--color-secondary);
      content: 'Play';
      font-family: var(--font-stack-display);
      font-size: 14px;
      font-weight: 700;
      left: 50%;
      letter-spacing: 1px;
      padding: 12px 48px;
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: (
        background var(--default-speed-ease),
        box-shadow var(--default-speed-ease),
      );
    }

    &:hover::after {
      background: var(--color-primary);
      box-shadow: 1px 2px 0 rgba(0, 0, 0, 1);
    }
  }
}