.mm-showcase {
  &__breadcrumbs {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-stack-display);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.6em;
    margin-bottom: 48px;
    text-transform: uppercase;
  }

  &__breadcrumbs-list {
    align-items: flex-start;
    display: inline-flex;
    list-style: none;
    margin: unset;
    max-width: 80%;
    padding: unset;
  }

  &__breadcrumbs-item {
    margin-bottom: unset;
    margin-left: 12px;
    margin-top: unset;
    overflow: hidden;
    padding-left: 12px;
    position: relative;

    &:first-child {
      flex-shrink: 0;
      margin-left: unset;
      padding-left: unset;
    }

    &:not(:first-child)::after {
      background: var(--color-secondary);
      content: '';
      display: block;
      height: 80%;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;

      [theme='dark'] & {
        background: var(--color-font);
      }
    }

    a {
      color: var(--color-accent);
    }

    h1 {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      margin: unset;
    }
  }

  &__pagination {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 -12px;

    a {
      margin: 0 12px;
    }

    .mm-button {
      min-width: 120px;
    }
  }

  &__pagination-grid-icon {
    fill: var(--color-accent);
    line-height: 1;
    transition: fill var(--fast-speed-ease);
    width: 40px;

    &:hover {
      fill: var(--color-background);

      [theme='dark'] & {
        fill: var(--color-font);
      }
    }
  }

  &__details {
    margin: 0 0 48px;
  }

  &__description {
    // Markdown
    img {
      margin: var(--base-unit) 0;
    }
  }
}
